# Server Port Configuration
PORT=8080

# MongoDB Connection Configuration
SPRING_DATA_MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority
SPRING_DATA_MONGODB_DATABASE=jiraClone
SPRING_MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority
SPRING_MONGODB_DATABASE=jiraClone

# Mail Configuration
SPRING_MAIL_HOST=smtp-relay.brevo.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=your-brevo-email@smtp-brevo.com
SPRING_MAIL_PASSWORD=your-brevo-smtp-key
